from day{{ .Day2 }} import Solution


def test_part1():
  assert Solution().computeDay(open('{{.Year}}/input/{{ .Day2}}_TEST.txt').readlines(), 1) == -1


def test_part2():
  assert Solution().computeDay(open('{{.Year}}/input/{{ .Day2}}_TEST.txt').readlines(), 2) == -1
